<html>
<head>
<title>Signup</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
<div class="container-fluid">
		<div class="jumbotron">
		<h2 id="title">Shopping Assistant</h2>			
		<button onclick="/customerLogin" class="btn btn-success">Login</button>
	</div></div>
	<div class="container-fluid" id="signupbox">
		<div class="row-fluid">
		<div class="col-md-3"></div>
			<div class="col-md-6">
			<div class="span8">
					<form action="/postSignUpDetails" method="post">
					<div class="form-group" >
						<label for="FisrtName">First Name</label> <input type="Text"
							class="form-control" id="firstName" name="firstName" placeholder="First Name">
					</div>
					<div class="form-group" >
						<label for="LastName">Last Name</label> <input type="Text"
							class="form-control" id="lastName" name="lastName" placeholder="Last Name">
					</div>
					<div class="form-group" >
						<label for="email">Email address</label> <input type="text"
							class="form-control" id="email" name="email" placeholder="Email">
					</div>
					<div class="form-group" >
						<label for="password">Password</label> <input type="password"
							class="form-control" id="password" name="password" placeholder="Password">
					</div>
					<div class="form-group" >
						<label for="phone">Phone Number</label> <input type="text"
							class="form-control" id="phone" name="phone" placeholder="Phone">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
			</div>
		</div>
	</div>

</body>
</html>
